<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand" style="font-size: 24px">OM Wheels</a>
    </div>
    <div class="nav navbar-right">
      <a href="#" style="font-size: 18px">HOME</a>
      &nbsp;&nbsp;
      <a href="#"style="font-size: 18px">Serivces</a>
      &nbsp;&nbsp;
      <a href="#"style="font-size: 18px">Our Work</a>
      &nbsp;&nbsp;
      <a href="#"style="font-size: 18px">About Us</a>
      &nbsp;&nbsp;
      <a href="#"style="font-size: 18px">Contact Us</a>
    </div>
  </div>



</nav>
